<section class="kv kv-discount-policy">
  <div class="container kv__inner">
    <h1 class="kv__title">
      CHÍNH SÁCH &<br>CHƯƠNG TRÌNH<br>ƯU ĐÃI
    </h1>
    <p class="kv__text">"Thích thì nhích" ngay cùng các chương trình <br>ưu đãi cực hot tại AIM Academy!
    </p>
    <img class="kv__image pc-only" width="413" height="590" src="common/images/kv/kv-discount-policy.png" alt="">
  </div>
</section>

<main class="main discount-policy">
  <div class="container discount-policy__inner">

    <section class="discount-policy__section">
      <h2 class="heading discount-policy__heading">
        DÀNH CHO HỌC VIÊN MỚI
      </h2>
      <div class="discount-policy__table">
        <p class="discount-policy__label"><span class="heading">ƯU ĐÃI</span></p>

        <div class="discount-policy__row">
          <div class="discount-policy__col">Đăng ký sớm trước ngày khai giảng</div>
          <div class="discount-policy__col">
            <p>Trước 10 ngày: <span class="percentage">5%</span></p>
            <p>Trước 20 ngày: <span class="percentage">10%</span></p>
            <a data-toggle='modal' data-target='#discount-policy' class="sp-only">*Điều kiện áp dụng</a>
          </div>
          <div class="discount-policy__col">
            {{>button attr="data-toggle='modal' data-target='#discount-policy'" text="ĐIỀU KIỆN<br>ÁP DỤNG" type="border" class="discount-policy__table-button"}}
          </div>
        </div>

        <div class="discount-policy__row">
          <div class="discount-policy__col">Trả góp qua mPOS (tại AIM Academy) hoặc sàn thương mại điện tử Sendo</div>
          <div class="discount-policy__col">
            <p>Trả góp: <span class="percentage">0%</span></p>
            <a data-toggle='modal' data-target='#discount-policy' class="sp-only">*Điều kiện áp dụng</a>
          </div>
          <div class="discount-policy__col">
            {{>button attr="data-toggle='modal' data-target='#discount-policy'" text="ĐIỀU KIỆN<br>ÁP DỤNG" type="border" class="discount-policy__table-button"}}
          </div>
        </div>

        <div class="discount-policy__row">
          <div class="discount-policy__col">Trả góp qua mPOS (tại AIM Academy) hoặc sàn thương mại điện tử Sendo + đăng
            ký sớm</div>
          <div class="discount-policy__col">
            <p>Trước 10 ngày: <span class="percentage">0%</span></p>
            <p>Trước 20 ngày: <span class="percentage">5%</span></p>
            <a data-toggle='modal' data-target='#discount-policy' class="sp-only">*Điều kiện áp dụng</a>
          </div>
          <div class="discount-policy__col">
            {{>button attr="data-toggle='modal' data-target='#discount-policy'" text="ĐIỀU KIỆN<br>ÁP DỤNG" type="border" class="discount-policy__table-button"}}
          </div>
        </div>
      </div>
    </section>

    <section class="discount-policy__section">
      <h2 class="heading discount-policy__heading">
        DÀNH CHO HỌC VIÊN CŨ
      </h2>
      <div class="discount-policy__table">
        <p class="discount-policy__label"><span class="heading">ƯU ĐÃI</span></p>

        <div class="discount-policy__row">
          <div class="discount-policy__col">Đăng ký 1 khóa học cho mỗi lần quay lại</div>
          <div class="discount-policy__col">
            <p>Khóa thứ 2: <span class="percentage">10%</span></p>
            <p>Từ khóa thứ 3: <span class="percentage">15%</span></p>
            <a data-toggle='modal' data-target='#discount-policy' class="sp-only">*Điều kiện áp dụng</a>
          </div>
          <div class="discount-policy__col">
            {{>button attr="data-toggle='modal' data-target='#discount-policy'" text="ĐIỀU KIỆN<br>ÁP DỤNG" type="border" class="discount-policy__table-button"}}
          </div>
        </div>

        <div class="discount-policy__row">
          <div class="discount-policy__col">Trả góp qua mPOS (tại AIM Academy) hoặc sàn thương mại điện tử Sendo + Đăng
            ký 1 khóa học cho mỗi lần quay lại</div>
          <div class="discount-policy__col">
            <p>Khóa thứ 2: <span class="percentage">5%</span></p>
            <p>Từ khóa thứ 3: <span class="percentage">10%</span></p>
            <a data-toggle='modal' data-target='#discount-policy' class="sp-only">*Điều kiện áp dụng</a>
          </div>
          <div class="discount-policy__col">
            {{>button attr="data-toggle='modal' data-target='#discount-policy'" text="ĐIỀU KIỆN<br>ÁP DỤNG" type="border" class="discount-policy__table-button"}}
          </div>
        </div>

        <div class="discount-policy__row">
          <div class="discount-policy__col">Đăng ký từ 2 khoá học trở lên cùng 1 lúc</div>
          <div class="discount-policy__col">
            <p>Ưu đãi <span class="percentage">15%</span></p>
            <a data-toggle='modal' data-target='#discount-policy' class="sp-only">*Điều kiện áp dụng</a>
          </div>
          <div class="discount-policy__col">
            {{>button attr="data-toggle='modal' data-target='#discount-policy'" text="ĐIỀU KIỆN<br>ÁP DỤNG" type="border" class="discount-policy__table-button"}}
          </div>
        </div>

        <div class="discount-policy__row">
          <div class="discount-policy__col">Trả góp qua mPOS (tại AIM Academy) hoặc sàn thương mại điện tử Sendo + Đăng
            ký từ 2 khóa học trở lên cùng 1 lúc</div>
          <div class="discount-policy__col">
            <p>Ưu đãi <span class="percentage">10%</span></p>
            <a data-toggle='modal' data-target='#discount-policy' class="sp-only">*Điều kiện áp dụng</a>
          </div>
          <div class="discount-policy__col">
            {{>button attr="data-toggle='modal' data-target='#discount-policy'" text="ĐIỀU KIỆN<br>ÁP DỤNG" type="border" class="discount-policy__table-button"}}
          </div>
        </div>

        <div class="discount-policy__row">
          <div class="discount-policy__col">Tốt nghiệp xuất sắc khóa học HOM hoặc DPM</div>
          <div class="discount-policy__col">
            <p>Khoá tiếp theo: <span class="percentage">15%</span></p>
            <a data-toggle='modal' data-target='#discount-policy' class="sp-only">*Điều kiện áp dụng</a>
          </div>
          <div class="discount-policy__col">
            {{>button attr="data-toggle='modal' data-target='#discount-policy'" text="ĐIỀU KIỆN<br>ÁP DỤNG" type="border" class="discount-policy__table-button"}}
          </div>
        </div>
      </div>
    </section>

    <section class="discount-policy__section">
      <h2 class="heading discount-policy__heading">
        ĐĂNG KÝ NHÓM<span class="pc-only"> - </span><br class="sp-only">THÊM BẠN THÊM VUI
      </h2>
      <div class="discount-policy__table">
        <p class="discount-policy__label"><span class="heading">ƯU ĐÃI</span></p>

        <div class="discount-policy__row">
          <div class="discount-policy__col">Nhóm cá nhân hoặc nhóm công ty từ 2 thành viên trở trên</div>
          <div class="discount-policy__col">
            <p>Nhóm 2 thành viên: <span class="percentage">10%</span></p>
            <p>Nhóm 3 thành viên trở lên: <span class="percentage">15%</span></p>
            <a data-toggle='modal' data-target='#discount-policy' class="sp-only">*Điều kiện áp dụng</a>
          </div>
          <div class="discount-policy__col">
            {{>button attr="data-toggle='modal' data-target='#discount-policy'" text="ĐIỀU KIỆN<br>ÁP DỤNG" type="border" class="discount-policy__table-button"}}
          </div>
        </div>

      </div>
    </section>

    <section class="discount-policy__section">
      <h2 class="heading discount-policy__heading">
        HỌC COMBO<span class="pc-only"> - </span><br class="sp-only">BA KHÓA, GIÁ MỀM, HỌC THẢ GA
      </h2>
      <div class="discount-policy__table">
        <p class="discount-policy__label"><span class="heading">ƯU ĐÃI</span></p>

        <div class="discount-policy__row">
          <div class="discount-policy__col">Học viên cũ hoặc học viên mới đăng ký 3 khoá học cùng 1 lúc</div>
          <div class="discount-policy__col">
            <p>Ưu đãi <span class="percentage">15%</span></p>
            <a data-toggle='modal' data-target='#discount-policy' class="sp-only">*Điều kiện áp dụng</a>
          </div>
          <div class="discount-policy__col">
            {{>button attr="data-toggle='modal' data-target='#discount-policy'" text="ĐIỀU KIỆN<br>ÁP DỤNG" type="border" class="discount-policy__table-button"}}
          </div>
        </div>

      </div>
    </section>
  </div>

  <div class="container discount-policy__recommend">
    <section class="discount-policy__inner">
      <h2 class="heading discount-policy__heading">
        BẠN CÓ THỂ TỰ CHỌN CÁC MÔN <br>PHÙ HỢP VỚI NHU CẦU <br class="sp-only">BẢN THÂN HOẶC <br class="pc-only">THAM KHẢO <br class="sp-only">GỢI Ý TỪ AIM ACADEMY
      </h2>

      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper discount-policy__recommend-list">
          <!-- Slides -->
          {{#each discount-policy}}
            <div class="swiper-slide discount-policy__recommend-item">
              <div class="discount-policy__recommend-article">
                <div class="discount-policy__recommend-image"><img loading="lazy" src={{image}} alt=""></div>
                <div class="discount-policy__recommend-body">
                  <h3 class="discount-policy__recommend-title">{{title}}
                    {{#if subtitle}}
                    <p class="discount-policy__recommend-subtitle">{{subtitle}}</p>
                    {{/if}}
                  </h3>

                  <ul class="discount-policy__recommend-content">
                    {{#each info}}
                      <li class="discount-policy__recommend-content-item">{{text}}</li>
                    {{/each}}
                  </ul>
                  
                </div>
                <div class="discount-policy__recommend-info">
                  <p>Học phí gốc:<span>{{price}}</span></p>
                  <p>Tiết kiệm:<span>{{discount}}</span></p>
                  <p>Học phí còn lại:<span>{{total}}</span></p>
                </div>
                {{>button href=true class="discount-policy__recommend-button" type="border" text="ĐĂNG KÝ NGAY"}}
              </div>
            </div>
          {{/each}}
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="swiper-button swiper-button-prev"></div>
      <div class="swiper-button swiper-button-next"></div>
    </section>
  </div>

</main>

<!-- Modal Discount Policy-->
<div class="modal fade discount-policy__modal" id="discount-policy" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-full-sp">
    <div class="modal-content">
      <div class="modal-header">
        <h2>ĐIỀU KIỆN ÁP DỤNG</h2>
        <img class="modal-close" src="common/images/icon-close-gray.svg" aria-label="Close" alt="" aria-hidden="true"
          data-dismiss="modal" aria-label="Close">
      </div>
      <div class="modal-body">
        <ul>
          <li>Thanh toán bằng thẻ tín dụng qua mPOS hoặc Sendo, thời hạn áp dụng: 3, 6 tháng cho tất cả các khoá học; riêng khoá học HOM và DPM chỉ được áp dụng trả góp 3 tháng</li>
          <li>Không áp dụng phương thức trả góp bằng thẻ tín dụng với khoá học trị giá dưới 6,000,000đ</li>
          <li>Và, thanh toán toàn bộ học phí"</li>
        </ul>
      </div>
      
    </div>
  </div>
</div>